{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "requirePragma": false,
  "insertPragma": false,
  "requireSemi": false,
  "prohibitAutofix": false,
  "enableExperimental": false,
  "useFlowParser": false,
  "useBabel": false,
  "useEslint": false,
  "useStylelint": false,
  "usePrettier": true,
  "useVscode": false,
  "useVscodeLint": false,
  "useVscodeLinting": false
}
