.hero-section {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/src/assets/hero.png") center center/cover no-repeat; // .hero-section__decor
  &__decor {
    color: #f6eae1;
    writing-mode: vertical-rl;
    text-orientation: upright;
    right: 0;
    height: 100%;
    letter-spacing: 4px;
    text-align: center;
    padding: 0px 20px 0px 0px;
    position: absolute;
    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        width: 1px;
        height: 8%;
        margin-bottom: 10px;
        background-color: #fff;
      }
      &::after {
        margin-top: 10px;
        content: "";
        width: 1px;
        height: 8%;
        background-color: #fff;
      }
    }
  }

  // .hero-section__wrapper

  &__wrapper {
    padding: 20px;
  }
}
.hero-wrapper {
  display: block;
  max-width: 1175px;
  margin: 0 auto;
  // .hero-wrapper__title

  &__title {
    font-size: 5.225rem;
    color: #f6eae1;
    font-weight: 700;
  }

  // .hero-wrapper__descr

  &__descr {
    margin-top: 30px;
    max-width: 560px;
    color: #f6eae1;
    font-size: 1.125rem;
    line-height: 1.77;
  }

  // .hero-wrapper__button

  &__button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    button {
      font-size: 16px !important;
    }
  }
}
.featured-section {
  // .featured-section__wrapper

  &__wrapper {
    position: relative;
  }
}
.featured-wrapper {
  // max-width: 1440px;
  margin: 0 auto;
}
.featured {
  // .featured__title

  &__title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 3.225rem;
    color: #f6eae1;
    text-align: center;
  }

  // .featured__button

}
.featured-row {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #111111;
}
.footer {
  // display: flex;
  // align-items: center;
  // width: 100%;
  margin: 0 auto;
}
.footer-wrapper {
  display: block;
  width: 100%;
  // .footer-wrapper__col
  margin-top: 40px;
}
.footer-col {
  margin-bottom: 20px;
  // .footer-col__title

  &__title {
    text-align: center;
    font-size: 1.4rem;
    color: #f6eae1;
    font-weight: 700;
    margin: 16px 0;
  }

  // .footer-col__help

  &__help {
    text-align: center;
    color: #f6eae1;
    padding: 10px;
    a {
      text-decoration: underline;
      color: #f6eae1;
      margin: 6px;
    }
    span {
      display: block;
      margin-top: 6px;
    }
  }
}
.footer-form {
  display: flex;
  margin: 0 auto;
  max-width: max-content;
  color: #f6eae1;
  border: 1px solid #f6eae1;
  // justify-content: flex-start;
  &__input {
    color: #f6eae1;
    border: none;
    width: 300px;
    text-align: left;
    padding-left: 40px;
    background-color: transparent;
  }

  &__button {
    text-align: center;
    color: #f6eae1;
    background-color: #cd412b;
    margin: 10px;
    padding: 20px;
    display: block;
    width: max-content;
  }
}