// //<BUTTONS (a.btn+tab)>
// // Снипет (HTML): btn

// .button {
// 	display: inline-flex;
// 	padding: 0px 0px;
// 	@media (any-hover: hover) {
// 		&:hover {
// 		}
// 	}
// 	&._fw {
// 		width: 100%;
// 	}
// }
.btn {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  transition: opacity 200ms, border-color 200ms, background-color 200ms,
    color 200ms;
  border: 2px solid transparent;
  border-radius: 0px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: center;
}

.btn--expand {
  background-color: #cd412b;
  color: #f6eae1;
  display: block;
  width: 100%;
}
.btn--primary {
  background-color: #cd412b;
  color: #f6eae1;
}

.btn--skeleton {
  background: none;
  border: 1px solid #f6eae18f;
  color: #f6eae1;
  padding: 0px 12px;
  height: 100%;
  padding: 14px 18px;
  font-size: rem(12);
}
.btn:hover {
  opacity: 0.8;
}

.selected {
  border: 1px solid white;
}
