.btn {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
  display: inline-block;
  transition: opacity 200ms, border-color 200ms, background-color 200ms,
    color 200ms;
  border: 2px solid transparent;
  border-radius: 0px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 1.2;
  text-align: center;
}

.btn--expand {
  background-color: #cd412b;
  color: #f6eae1;
  display: block;
  width: 100%;
}
.btn--primary {
  background-color: #cd412b;
  color: #f6eae1;
}
.btn:hover {
  opacity: 0.8;
}
