//====================================================================================================
.footer {
    margin: 0 auto;
    padding-bottom: 40px;
    &__data {
        height: 60px;
        display: flex;
        align-items: center;
        a {
            margin-right: 20px;
        }
    }
}

.footer-wrapper {
    @media(max-width: $tablet) {
        flex-wrap: wrap;
    }
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-col {
    margin-bottom: 20px;
    width: 100%;
    &__title {
        text-align: left;
        font-size: rem(12);
        color: $mainColor;
        font-weight: 700;
        margin: 16px 0;
    }

    &__help {
        text-align: center;
        color: $mainColor;
        padding: 10px;

        a {
            text-decoration: underline;
            color: $mainColor;
            margin: 6px;
        }

        span {
            display: block;
            margin-top: 6px;
        }
    }
}

.footer-form {
    display: flex;
    max-width: max-content;
    color: $mainColor;
    border: 1px solid $mainColor;

    &__input {
        color: $mainColor;
        outline: none;
        border: none;
        text-align: left;
        padding-left: 40px;
        background-color: transparent;
    }

    &__button {
        text-align: center;
        color: $mainColor;
        background-color: #cd412b;
        margin: 10px;
        padding: 10px;
        display: block;
        width: max-content;
    }
}
//====================================================================================================
