//====================================================================================================
.hero-section {
  width: 100%;
  height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/src/assets/hero.png") center center/cover no-repeat;

  &__decor {
    color: $mainColor;
    writing-mode: vertical-rl;
    text-orientation: upright;
    right: 0;
    height: 100%;
    letter-spacing: 4px;
    text-align: center;
    padding: 0px 20px 0px 0px;
    position: absolute;
    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        width: 1px;
        height: 8%;
        margin-bottom: 10px;
        background-color: #fff;
      }
      &::after {
        margin-top: 10px;
        content: "";
        width: 1px;
        height: 8%;
        background-color: #fff;
      }
    }
  }
  &__wrapper {
    padding: 20px;
  }
}
.hero-wrapper {
  display: block;
  max-width: 1175px;
  margin: 0 auto;

  &__title {
    font-size: 5.225rem;
    color: $mainColor;
    font-weight: 700;
  }

  &__descr {
    margin-top: 30px;
    max-width: 560px;
    color: $mainColor;
    font-size: 1.125rem;
    line-height: 1.77;
  }

  &__button {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    button {
      font-size: 16px !important;
    }
  }
}
.featured-section {
  &__wrapper {
    position: relative;
  }
}
.featured-wrapper {
  margin: 0 auto;
}
.featured {
  &__title {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 3.225rem;
    color: $mainColor;
    text-align: center;
  }
}

.featured-row {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #111111;
}

.footer {
  margin: 0 auto;
}

.footer-wrapper {
  display: block;
  width: 100%;
  margin-top: 40px;
}

.footer-col {
  margin-bottom: 20px;
  &__title {
    text-align: center;
    font-size: 1.4rem;
    color: $mainColor;
    font-weight: 700;
    margin: 16px 0;
  }

  &__help {
    text-align: center;
    color: $mainColor;
    padding: 10px;
    a {
      text-decoration: underline;
      color: $mainColor;
      margin: 6px;
    }
    span {
      display: block;
      margin-top: 6px;
    }
  }
}
.footer-form {
  display: flex;
  margin: 0 auto;
  max-width: max-content;
  color: $mainColor;
  border: 1px solid $mainColor;
  &__input {
    color: $mainColor;
    border: none;
    width: 300px;
    text-align: left;
    padding-left: 40px;
    background-color: transparent;
  }

  &__button {
    text-align: center;
    color: $mainColor;
    background-color: #cd412b;
    margin: 10px;
    padding: 20px;
    display: block;
    width: max-content;
  }
}
//====================================================================================================
