.card {
  display: flex;
  margin-top: 40px;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    @media (max-width: $mobile) {
      text-align: center;
      flex-wrap: wrap;
    }
  }

  &__image {
    img {
      display: block;
      margin: 0 auto;
      width: 80%;
      @include adaptiveValue("height", 600, 400);
      object-fit: cover;
    }
    width: 100%;
  }

  &__info {
    margin-top: 40px;
    width: 100%;
  }

  &__name {
    font-size: rem(38);
    margin-bottom: 40px;
  }
  &__price {
    font-weight: 300;
    margin-bottom: 40px;
    font-size: rem(18);
  }

  &__sizes {
    span {
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0px;
      margin-bottom: 11px;
      color: rgba(246, 234, 225, 0.8);
      font-size: rem(12);
    }
  }
  &__description {
    margin-bottom: 20px;
    width: 80%;
    @media (max-width: $mobile) {
      display: block;
      margin: 0 auto;
    }
  }

  &__sizes-buttons {
    margin-top: 20px;
    display: flex;
  }

  &__sizes-button {
    width: 60px;
    cursor: pointer;
    text-align: center;
    padding: 14px 16px;
    margin-right: 14px;
    background-color: rgba(255, 255, 255, 0.024);
  }

  &__count {
    margin-top: 40px;
    select {
      position: relative;
      appearance: none;
      width: 220px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.024);
      color: $mainColor;
      padding: 14px 24px 14px 14px;
      margin-right: 12px;
      margin-bottom: 12px;
      @media (max-width: $mobile) {
        margin-right: 0px;
      }
      border: 1px solid $mainColor;
      option {
        padding: 20px;
        background-color: $bgColor;
        color: $mainColor;
      }
    }
  }
  &__button {
    width: 220px;
    height: 100%;
  }
}

.breadcrumbs {
  // .breadcrumbs__list

  &__list {
    display: flex;
    align-items: center;
  }

  // .breadcrumbs__item

  &__item {
    flex: 0 1 auto;
    font-size: rem(14);
    &:not(:last-child)::after {
      content: "»";
      margin-left: 8px;
      margin-right: 8px;
    }
  }

  // .breadcrumbs__link

  &__link {
    color: inherit;
  }

  // .breadcrumbs__current
}
