//====================================================================================================
.footer {
  @include adaptiveValue('width', 1400, 320);
  margin: 0 auto;
}
.footer-wrapper {
  // .footer-wrapper__col
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 16px;
    width: max-content;
    input {
      background: none;
      height: 100%;
      outline: none;
      color: white;
    }
    button {
      color: $mainColor;
      display: block;
      margin: 0 0 0 auto;
      background-color: $buttonColor;
      padding: 16px 20px;
      right: 0;
      font-size: rem(14);
      font-weight: 500;
    }
  }
  i,
  a {
    margin-right: 20px;
    font-size: rem(13);
  }
}
.footer-col {
  padding: 20px 0px;
  // .footer-col__title

  &__title {
    margin-bottom: 20px;
    font-size: rem(14);
    font-family: Roboto;
    font-weight: 700;
  }

  // .footer-col__help

  &__help {
    font-size: rem(13);
  }
}

//====================================================================================================
